# PDF Processing Libraries
ezdxf>=1.4.2
camelot-py[cv]>=0.10.1
tabula-py>=2.10.0
pdfplumber>=0.11.7
PyMuPDF>=1.26.4


# OCR and Image Processing
pytesseract>=0.3.13
Pillow>=11.3.0

# Data Processing
pandas>=2.3.3


# Additional Dependencies for Camelot
opencv-python>=4.12.0.88
ghostscript>=0.8.1

# For better table extraction
pdfminer.six>=20250506

#
PyPDF2>=3.0.1

# Optional: For advanced PDF processing
pdf2image>=1.17.0

#
jpype1>=1.6.0

# For handling HTTP requests (if needed)
requests>=2.32.5
# For logging and debugging
loguru>=0.7.0
# For environment management
python-dotenv>=1.0.0
#
pytest>=8.4.2
#
flake8>=6.1.0
#
tqdm>=4.67.1
  

numpy

#pip install pip-tools
#pip-compile requirements.txt
#pip install -r requirements.txt
#.dwg to .dxf  
#TeighaFileConverter.exe "input_folder" "output_folder" "ACAD2013" "DXF" "0" "1" "1"
#pdf to text
#.\pdftotext.exe -layout "input.pdf" "output.txt"
#python -c "import pdfplumber; f=pdfplumber.open('input.pdf'); print('\n'.join(p.extract_text() for p in f.pages))" > output.txt

	